<div class="cover section">
 <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row-fluid">

        <div class="span3">
          <div class="well">
            <span ng-include="'partials/address.html'"></span>
            <span ng-include="'partials/address-contact.html'"></span>
          </div>
          <div class="well green">
            <h2 id="haven">{{lang.dict.donate}}</h2>
            <p>{{lang.dict.donatemessage}}</p> 
          
           <button ng-click="href(lang.dict.lang,'/donate')" 
                   class="btn btn-large btn-block btn-success" 
                   type="button">{{lang.dict.donate}}</button>
          </div>
        </div>

        <div class="span9 hero-unit contact">

          <div class="row-fluid">
            <div class="span6">
              <h3 style="border-bottom:solid 1px #7AC5CC;color:#49ACB5;">{{lang.dict.teenmothers}}</h3>
              <p>{{lang.dict.joinusmessage}} {{lang.dict.callus}} <a href="mailto:admin@havenofhopetm.org">admin@havenofhopetm.org</a></p>
            </div>

            <div class="span6">
              <h3 style="border-bottom:solid 1px #F4AE49;color:#E89C2F">Volunteers</h3>
              <p>{{lang.dict.volunteermessage}} {{lang.dict.callus}} <a href="mailto:admin@havenofhopetm.org">admin@havenofhopetm.org</a></p>
            </div>
          </div>
          
          <div class="row-fluid">
            <h2>{{lang.dict.meettheteam}}</h2>
          </div>

          <div class="row-fluid">

            <div class="span4 well profile">
                <img src="img/gladys.png"  class="img-polaroid"><br>
                <h4>Gladys Ndang</h4>
                <span class="title">Chief Executive Director</span>
            </div>

            <div class="span4 well profile">
              <img src="img/profile-mercy.jpg"  class="img-polaroid"><br>
              <h4>Mercy Ndang</h4>
              <span class="title">Co-ordinator</span>
            </div>

            <div class="span4 well profile">
              <img src="img/profile-maurice.jpg"  class="img-polaroid"><br>
              <h4>Maurice Mokenyu</h4>
              <span class="title">Administrative Assistant</span>
            </div>
          </div>



        </div>
      </div>
</div>
</div>
