 <div class="cover section">
 <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="row-fluid">
        <div class="span3">

          <div class="well">
            <span ng-include="'partials/address.html'"></span>
            <span ng-include="'partials/address-contact.html'"></span>
          </div>

          <div class="well red">
            <h2 id="haven">Volunteer</h2>
            <p>We are always looking for volunteers to help teach classes and grow our charity. If you want to make a real difference in young womens lives, volunteer today! </p> 

            <button ng-click="href(lang.dict.lang,'/contact')" 
                     class="btn btn-large btn-block btn-warning" 
                     type="button">Volunteer</button>
            
            <!-- <p><a class="btn" href="about.html">Volunteer</a></p> -->
          </div>
        </div>

        <div class="span9 hero-unit donate">
          <h1>Donate</h1>
          <p>Your donation directly helps teen mothers in need. We thank you for making a difference in young womens lives. Please email us at <a href="mailto:admin@havenofhopetm.org">admin@havenofhopetm.org</a></p>

        </div>
      </div>
      
</div>
</div>
