$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// Purple theme
//$header-top: ;
//$header-bottom:#6a488e;
//$footer:;
//$bg-md:;
//$bg-sm:;
//$bg-donate:;
//$bg-volunteer:;
//$bg-join:;
//$button-active:;

// Blue theme
// $header-top: ;
// $header-bottom:#6a488e;
// $footer:;
// $bg-md:;
// $bg-sm:;
// $bg-donate:;
// $bg-volunteer:;
// $bg-join:;
// $button-active:;


@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


.navbar{

    margin-bottom:0;
}

.nav-pills{
    font-size: 1.3em;
    padding-top:15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li a:hover{
    background-color: #E8E2E4;
    color: #624675;
}

.nav-pills a{
    color: #624675;
}

.nav-pills a.donate-pill{
    background-color: #9DCC7A;
    color: #fff;
    text-shadow: 1px 1px 1px #5A7546;
}

.nav-pills a.donate-pill:hover{
    background-color: #7BB153;
    color: #fff;
    text-shadow: 1px 1px 1px #3e592a;
}

.nav-stacked-skinny li a{
    padding-left: 5px;
}

.topbar{
    background-color: #fff;
    background-position: 0 10px;
    max-height:65px;
    color:#6a488e;
    /*border-bottom: solid 1px #bfd7de;*/
}

img.logo{
    height: 125px;
}


.bottom-bar{
    background-color:#AA7BCC;
    /*background-color: $header-bottom;*/
    background-image: url(/images/bg_purple.png);
    color:#E8E2E4;
    padding: 23px 0 13px 0;
}

.bottom-bar p,
.bottom-bar h1{
    text-shadow: 1px 1px 1px #3E2F5A;
}

.bottom-bar p{
    font-size:1.5em;
}



.section{
  background-color: #E8E2E4;
  -moz-box-shadow:    inset 0px 2px 3px 0px #aaa;
  -webkit-box-shadow: inset 0px 2px 3px 0px #aaa;
  box-shadow:         inset 0px 2px 3px 0px #aaa;
}

.cover{
    /*margin-top: 10px;*/
    padding: 30px 10px 10px 10px;
    /*border-top: solid 1px #a9bec4;*/
    /*border-bottom: solid 1px #a9bec4;*/

}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
    background-color: #f7f7f7;
}
.objectives{
    padding:30px 0 10px 0;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #624675;
    text-shadow: 1px 1px 1px #fff;
}

.objectives-details .hero-unit .header,
.objectives-details.hero-unit p{
    font-style: italic;
    font-family: serif;
}

.objectives ul li{
    line-height: 1.5em;
    padding-top: 10px;
}

dd{
    padding-bottom: 1.3em;
    line-height: 1.3em;
}

.contact{
        font-size: 1.3em;
    line-height: 1.5em;
    color: #624675;
    text-shadow: 1px 1px 1px #fff;
    font-family: serif;
    font-style: italic;
}

/*.profile img{
    width:237px;
}*/

.profile h4{
  margin-bottom: 0px;
  font-size: .9em;
}

.profile .title{
    font-family: sans-serif;
    font-style: normal;
    font-size: .65em;
}
.profile.profile-md{
    max-width: 300px;
}

.profile h4,
.profile .title{
    padding-left: 10px;
}

.hero-unit{
    padding-top: 30px;
}

.info{
    /*border-top: solid 1px #bfd7de;*/
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #fff;
}

.intro{
    font-size: 1.4em;
    line-height: 1.6em;
    color:#624675;
    text-shadow: 1px 1px 1px #fff;
    font-family: serif;
    /*font-style: italic;*/
    /*text-align: justify;*/
    /*font-family: 'Lusitana', serif;*/
}

.hero-unit.donate{
    color: #624675;
    text-shadow:1px 1px 1px #fff;
    font-family: serif;
    font-style: italic;
}

.donate .well{
    background-color: #f7f7f7;
    border: none;
    webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}

.hero-unit.donate p{
    font-size: 1.4em;
    line-height: 1.5em;
}

dl.bank-details dt{
  width: 100px;
}

dl.bank-details dd{
  margin-left: 120px;
}

h1, h2, h3{
    margin-top: 0;
}

.btn-warning{
color: white;
background-color: #ed9c28;
border-color: #d58512;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
color: white;
background-color: #d58512;
border-color: #BB750F;
}

.row-fluid{
    margin-bottom: 40px;
}

.hero-unit{
    padding-top: 0;
}
.hero-unit.pane{
    background-color:#f7f7f7;
    padding: 19px;
    border:solid 1px #ddd; 
    border-top:0px; 
}
.hero-unit.pane.biography p{
    font-size:.8em;
    line-height: 1.4em; 
    color: #444
}
.well p{
  font-size:18px;
  line-height: 1.5em;
}

.col-md-4 .well p{
    font-size: 20px;
}

.span3 .well p{
    font-size: 1em;
    line-height: 1.3em;
}

.well.green{
    /*background-color: #a3e573;*/
    background-color: #9ccc7a;
    text-shadow: 1px 1px 1px #C3E9A7;
    color:#2F4A1D;
}/*
.well.green h2{
    text-shadow: 1px 1px 1px #C3E9A7;
}*/

.well.blue{
    /*background-color: #73dce5;*/
    background-color: #7ac5cc;
    text-shadow: 1px 1px 1px #C3E7EA;
    color:#244043;
}/*
.well.blue h2{
    text-shadow: 1px 1px 1px #C3E7EA;
}*/

.well.red{
    /*background-color: #e57c73;*/
    background-color: #F4AE49;
    text-shadow: 1px 1px 1px #FED59A;
    color:#5D4222;
}
/*.well.red h2{
    text-shadow: 1px 1px 1px #DEABA6;
}*/

.well a{
    text-shadow:none;
}


#myCarousel{
    border:solid 10px #fff;
}

.carousel-control{
    top:-15%;
    /*width:5%;*/
}

.carousel-control .icon-next,
.carousel-control .icon-prev{
    font-size: 120px;
    line-height: 55px;
    width:80px;
    height: 80px;
    /*background-color: white;*/
    color: white;
    border-radius: 50px;
}

.carousel-control .icon-next{
    right:10%;
}

.carousel-control .icon-prev{
    left:20%;
}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
}

.carousel-indicators{
    visibility: hidden;
}



footer{
    /*border-top: solid 1px #bfd7de;*/
    background-color: #624675;
    color: #E8E2E4;
    padding: 40px 20px 40px 20px;

}

footer a{
    color:#E8E2E4;
    text-decoration: underline;
}

footer .container .well{
    background-color: #4C3959;
    border: none;
    webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}
address a{
    padding: 3px 0;
}
address a:hover{

        background-color: #eee;
        text-decoration: none;
        line-height: 20px;
}

.publication{
    font-style: normal;
}

.publication h2,
.publication h3,
.publication h4,
.publication p{
    margin: 0px;
    
}
