body{
	background-color: #fff;
	/*background-image: url("/img/Palmtree.JPG");*/
}

.navbar{

	margin-bottom:0;
}

.nav-pills{
	font-size: 1.3em;
	padding-top:15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover,
.nav-pills li a:hover{
	background-color: #E8E2E4;
	color: #624675;
}

.nav-pills a{
	color: #624675;
}

.nav-pills a.donate-pill{
	background-color: #9DCC7A;
	color: #fff;
	text-shadow: 1px 1px 1px #5A7546;
}

.nav-pills a.donate-pill:hover{
	background-color: #7BB153;
	color: #fff;
	text-shadow: 1px 1px 1px #3e592a;
}

.topbar{
	background-color: #fff;
	background-position: 0 10px;
	max-height:65px;
	color:#6a488e;
	/*border-bottom: solid 1px #bfd7de;*/
}

img.logo{
	height: 125px;
}


.bottom-bar{
	/*background-color:#AA7BCC;*/
	background-color: #6a488e;
	background-image: url(/img/bg_purple.png);
	color:#E8E2E4;
	padding: 23px 0 13px 0;
}

.bottom-bar p,
.bottom-bar h1{
	text-shadow: 1px 1px 1px #3E2F5A;
}

.bottom-bar p{
	font-size:1.5em;
}



.section{
  background-color: #E8E2E4;
  -moz-box-shadow:    inset 0px 2px 3px 0px #aaa;
  -webkit-box-shadow: inset 0px 2px 3px 0px #aaa;
  box-shadow:         inset 0px 2px 3px 0px #aaa;
}

.cover{
	/*margin-top: 10px;*/
	padding: 30px 10px 10px 10px;
	/*border-top: solid 1px #a9bec4;*/
	/*border-bottom: solid 1px #a9bec4;*/

}

.objectives{
	padding:30px 0 10px 0;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #624675;
	text-shadow: 1px 1px 1px #fff;
}

.objectives-details .hero-unit .header,
.objectives-details .hero-unit p{
	font-style: italic;
	font-family: serif;
}

.objectives ul li{
	line-height: 1.5em;
	padding-top: 10px;
}

dd{
	padding-bottom: 1.3em;
	line-height: 1.3em;
}

.contact{
		font-size: 1.3em;
	line-height: 1.5em;
	color: #624675;
	text-shadow: 1px 1px 1px #fff;
	font-family: serif;
	font-style: italic;
}

.profile h4{
  margin-bottom: 0px;
  font-size: .9em;
}

.profile .title{
	font-family: sans-serif;
	font-style: normal;
	font-size: .65em;
}

.profile h4,
.profile .title{
	padding-left: 10px;
}

.hero-unit{
	padding-top: 30px;
}

.info{
	/*border-top: solid 1px #bfd7de;*/
	padding-top: 30px;
	padding-bottom: 15px;
	background-color: #fff;
}

.intro{
	font-size: 1.4em;
	line-height: 1.6em;
	color:#624675;
	text-shadow: 1px 1px 1px #fff;
	font-family: serif;
	/*font-style: italic;*/
	/*text-align: justify;*/
	/*font-family: 'Lusitana', serif;*/
}

.hero-unit.donate{
	color: #624675;
	text-shadow:1px 1px 1px #fff;
	font-family: serif;
	font-style: italic;
}

.donate .well{
	background-color: #f7f7f7;
	border: none;
	webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}

.hero-unit.donate p{
	font-size: 1.4em;
	line-height: 1.5em;
}

dl.bank-details dt{
  width: 100px;
}

dl.bank-details dd{
  margin-left: 120px;
}


.well p{
  font-size:1.3em;
  line-height: 1.5em;
}

.span3 .well p{
	font-size: 1em;
	line-height: 1.3em;
}

.well.green{
	/*background-color: #a3e573;*/
	background-color: #9ccc7a;
	text-shadow: 1px 1px 1px #C3E9A7;
	color:#2F4A1D;
}/*
.well.green h2{
	text-shadow: 1px 1px 1px #C3E9A7;
}*/

.well.blue{
	/*background-color: #73dce5;*/
	background-color: #7ac5cc;
	text-shadow: 1px 1px 1px #C3E7EA;
	color:#244043;
}/*
.well.blue h2{
	text-shadow: 1px 1px 1px #C3E7EA;
}*/

.well.red{
	/*background-color: #e57c73;*/
	background-color: #F4AE49;
	text-shadow: 1px 1px 1px #FED59A;
	color:#5D4222;
}
/*.well.red h2{
	text-shadow: 1px 1px 1px #DEABA6;
}*/


#myCarousel{
	border:solid 10px #fff;
}

.carousel-control{
	top:50%;
}




footer{
	/*border-top: solid 1px #bfd7de;*/
	background-color: #624675;
	color: #E8E2E4;
	padding: 40px 20px 40px 20px;

}

footer a{
	color:#E8E2E4;
	text-decoration: underline;
}

footer .container .well{
	background-color: #4C3959;
	border: none;
	webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
}
address a{
	padding: 3px 0;
}
address a:hover{

		background-color: #eee;
		text-decoration: none;
		line-height: 20px;
}

.publication{
	font-style: normal;
}

.publication h2,
.publication h3,
.publication h4,
.publication p{
	margin: 0px;
	
}